
    <div class="row">
    <div class="col-4">
        <p *ngFor="let course of courses;" [style.backgroundColor]="isActive? 'blue':'yellow'">{{ course }}</p>
        <button class="btn btn-primary" (keyup.enter)="clickedBtn()" [class.active]="isActive"> save</button>
  
    </div>
<div class="col-4" >
    <div *ngFor="let image of images" style="padding: 10px; margin: auto;">
        <img class="imgCss" src="{{image}}">
    </div>
</div>
    <div  class="col-4" >
        <p>{{ title | summary : 10}}</p>
        <input type="text" [(ngModel)]="para" (keyup.enter)="textClick()">
    </div>
</div>
<input type="text" [(ngModel)]="titleField">
{{ titleField | titleCase}}

